* {
    margin: 0;
  }
  .container1 {
    width: 590px;
    height: 110px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  } 
  .container2 {
    width: 590px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .container3 {
    width: 590px;
    height: 110px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  } 
  .box {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    border-radius: 5px;
    margin: 5px;
  }
